<p>transaction works!</p>
<p>Ameen</p>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedTransaction()"
                            [disabled]="!selectedTransaction || !selectedTransaction.length"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="Transactions" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','accountid','amount','transactiontype']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedTransaction" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Transaction</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                 <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="AccountId">Account<p-sortIcon field="AccountId"></p-sortIcon></th>
                        <th pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
                        <th pSortableColumn="transactiontype">TransactionType<p-sortIcon field="transactiontype"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Transaction>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="Transaction"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{Transaction.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            <span class="p-column-title" >Account</span>
                            {{Transaction.AccountId }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">amount</span>
                            {{Transaction.amount}}
                        </td>

                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">transactiontype</span>
                            <span [class]="'Account-badge status-' + (Transaction.transactiontype ? Transaction.transactiontype.toString().toLowerCase()  : '')">{{Transaction.transactiontype }}</span>

                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTransaction(Transaction)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletetransaction(Transaction)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="TransactionDailog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="id">ID</label>
                        <input type="text" pInputText id="id" [(ngModel)]="Transaction.id" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Transaction.id}" disabled="true"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Transaction.id">Name is required.</small>
                    </div>
                    <div class="field">
                        <label for="AccountId">AccountId</label>
                        <!-- <textarea id="AccountId" pInputTextarea [(ngModel)]="Transaction.AccountId" required rows="3" cols="20"></textarea> -->
                        <p-dropdown [(ngModel)]="Transaction.accountid" inputId="AccountId"  optionValue="id" [options]="BankAccount" placeholder="Select"
                         dataKey="id"
                        
                        >
                            <ng-template let-option pTemplate= "selectedItem" >
                                <span >{{  Transaction.accountid }}</span>
                            </ng-template>
                            <ng-template let-option pTemplate="item" >
                                <span option.id >{{option.id+' '+option.name}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="id">Amount</label>
                        <input type="text" pInputText id="amount" [(ngModel)]="Transaction.amount" equired autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Transaction.amount}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Transaction.amount">Amount is required.</small>
                    </div>

                    <div class="field">
                        <label for="status"> Transaction Type</label>
                        <p-dropdown [(ngModel)]="Transaction.transactiontype" inputId="transactiontype" optionValue="label" [options]="transactiontypes" placeholder="Select">
                            <ng-template pTemplate= "selectedItem">
                                <span *ngIf="Transaction && Transaction.transactiontype"  [class]="'product-badge status-' + Transaction.transactiontype.toString().toLowerCase()">{{Transaction.transactiontype}}</span>
                            </ng-template>
                            <ng-template let-option pTemplate="item">
                                <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
    
 
    
                    <div class="formgrid grid">
                        <!-- <div class="field col">
                            <label for="price">Price</label>
                            <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                        </div>
                        <div class="field col">
                            <label for="quantity">Quantity</label>
                            <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                        </div>-->
                    </div> 
                </ng-template>
    
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                </ng-template>
            </p-dialog>


            <p-dialog [(visible)]="deleteTransactionDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="Transaction">Are you sure you want to delete transaction <b>{{Transaction.id}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTransactionDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>
    
            <p-dialog [(visible)]="deleteTransactionsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete selected products?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTransactionsDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>